{% extends "blogservice/base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data" action="{% url 'post_add' %}" class="block1">
    {% csrf_token %}
    <div class="inputs">
    {{ form }}
        </div>
<input type="submit" value="Create post" class="submit_post">
    </form>

<style>

.title_post_input{
    width: 400px;
    border: solid 5px black;
}

label{
font-family: Montserrat;
margin-top: 20px;
font-weight: bold;
font-size: large;
}
#id_title{
    width: 350px;
    border: solid 2px black;
    border-radius: 3px;
    height: 25px;
    font-family:  Montserrat;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}
#id_content{
    width: 350px;
    border: solid 2px black;
    border-radius: 3px;
    height: 600px;
    font-family:  Montserrat;
    text-align: start;
    font-size: 15px;
    vertical-align: bottom;
    padding: 15px;
}
</style>
{% endblock content %}